/*.dashboard > .row {
    display: table;
}

.dashboard > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}*/

/*html,body {
    height:100%;
}*/

.dashboard h3{
	margin-top: 10px;
	margin-bottom: 5px;
}
.dashboard input[type=checkbox]{
	margin-top: 29px;
}
.dashboard a {
  color: #000;
}
.dashboard button{
	margin-top: 0px;
}

/* new task creation */
.dashboard .tasks-view #new-task-modal .modal-footer {
    height: 80px;
    margin-top:0px;
    padding: 10px;
}

.dashboard .tasks-view #new-task-modal .modal-footer .btn {
    /*float:right;*/
}

.dashboard .tasks-view .new-task-btn {
    text-align: center;
    padding:15px;
}

.dashboard .tasks-view #new-task-btn .btn {
    background-color:#d58512;
    border-radius: 25px;
    margin:auto;
    width:80%;
    font-size: 25px;
    border:none;
}

.dashboard .tasks-view #new-task-modal #task-options {
    text-align: left;
    float:left;
}

.dashboard .gamechangestar, .modal .gamechangestar{
	float: right;
	color: #f0ad4e;
	text-shadow: 1px 1px #ddd;
}
.dashboard .ideadeck{
	list-style: none;
	overflow: auto;
	height: 720px;
}
.dashboard .alert-msg {
  color: #900;
  display: block;
  width: 100%;
}

.dashboard .flash-alert .alert-msg {
  color: #FFF;
}

.dashboard .flash-alert .userprofilename {
  color: #FFF;
}

.dashboard .flash-alert {
  background: #900;
  color: #FFF
}

.dashboard .idea-item{
	cursor: default;
}

.vizes, #people-view, .ideas, .leverbox{
	/* border: solid 1px #ddd; */
}
.dashboard .ideas-view {
  margin-right: 0;
  border-right: solid 1px #ddd;
  min-height: 1080px;

}
.dashboard .themes-view {
}

.dashboard .ideators-stats {
  margin-left: 0;
  border-left: solid 1px #ddd;
  min-height: 1080px;
}

.dashboard .vizes {
  border-bottom: solid 1px #ddd;
  min-height: 250px;
}

.dashboard .messageview {
  margin-top: 15px;
  height: 200px;
  border: solid 1px #ddd;
}

#lever-events-key{
	/*height: 15px;*/
	padding-top: 5px;
}

#lever-events-key svg{
	display: inline-block;
	/*width: 15px !important;*/
	margin: 0px !important;
}

#viz-menu{
	padding: 5px;
}

.viz{
	margin: 10px;
}

.tagcloud.tagname{
	text-align: center;
}

.tag-tip {
	display: none;
	font-size: 10pt;
	position: absolute;
	/*border: 1px solid #000000;
	background-color: #FFFFE0;
	padding: 2px 6px;
	color: #990000;*/
	line-height: 2;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	z-index: 5;
}

.tagname a, .userprofilename{
	text-decoration: none;
	vertical-align: middle;
}

.db-title{
	margin-top: 5px;
	margin-bottom: 10px;
}

.quantity{
	font-size: 15px;
}


#filterGamechangers{
	float: right;
	padding-right: 11px;
}

#filters{
	padding-left: 0px !important;
}

#filters .active-filters span{
	display: inline-block;
}

#filters .active-filters span i{
	padding-top: 0px;
}

/*.part-label, .partfilter-label, .clusterfilter-label{
	padding-left: 0em;
}

.part-label > i, .partfilter-label > i, .clusterfilter-label > i{
	padding-right: 5px;
}*/

/*.dashboard .idea, .modal .idea{
	border: solid 1px #ddd;
	border-radius: 5px;
	padding: 5px;
	margin: 2px;
}*/

.changeprompt{
	height: 40%;
}

.profile .name-icon{
	display: inline-block;
}

#new-prompt{

}

.checkbox{
	height: 70px;

}

/*.fa-minus-circle{
	cursor: pointer;
}*/

.selected{
	border: solid 1px #269abc!important;
	-moz-box-shadow:    inset 0 0 2px #31b0d5;
	-webkit-box-shadow: inset 0 0 2px #31b0d5;
	box-shadow:         inset 0 0 2px #31b0d5;
}

.modal .idea{
	cursor: pointer;
}

.modal h3{
	margin-top: 10px;
}

/*********************************
* deprecated
**********************************/

.dashboard #people-view #actions .btn-group .btn {
    font-weight: bold;
    border:none;
}

#sendThemeModal-clusterlist{
    max-height: 200px;
    overflow: auto;
}

#sendThemeModal .theme{
    margin: 5px;
}

#sendExModal .send-examples-filterbox {
    max-height: 300px;
    overflow: auto;
}

.modal > div > div > div.modal-body > div.userSelectList {
    padding-left: 5px;
}

#people{
    overflow: hidden;
}

#checkall-btn-group{
    margin-bottom: 10px;
}

#people-view hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile{
    display: inline-flex;
    width: 100%;
    height: 70px;
}

.profile form{
    width:75px;
}

.people .form-inline {
  padding: 0;
}

.series{
    height:100%;
    /*z-index: 100;*/
}

.bar {
    z-index: 100;
}

.nowLine{
    opacity: 0.30;
    fill: gray;
    z-index: -100;
}

#examples {
    border: solid 1px #ddd; 
    border-radius: 5px;
    height: 130px;
    overflow: auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    shape-rendering: crispEdges;
}

.bar{
	width: 4px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.dashboard .profile .userprofilename {
  text-decoration: underline;
}

