.idea-block {
  padding: 10px;
  font-size: 14px;
  background: #3276b1;;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  color: #fff;
}

.idea-frame {
    padding: 5px;
    height:350px;
    border:1px solid #ccc;
    border-radius: 10px;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'HelveticaNeue-UltraLight';
    overflow: scroll;
}

.idea-col {
    border-style: solid;
    border:3px solid #ccc;
    height: 390px;
    padding: 15px;
    backround: blue;
}
.idea-col h3{
    text-align: center:
    color: red;
}

.join-col {
    border-style: solid;
    border:3px solid #ccc;
    height: 390px;
    padding: 5px;
    backround: blue;
    
}

.join-col h3{
    text-align: center:
}
