#newExpModal {
  top: 15%;
  left: 50%;
  height: 1px;
  width: 600px;
}

#exp-desc-text {
  width: 100%;
  overflow: scroll;
  min-height: 100px;
}

#exp-num-groups {
  width: 75px;
  height: 40px;
}

#exp-prompt-text {
  height: 100px;
}

.modal .exp-role {
    width: 150px;
  height: 40px;
}

.modal .exp-num-role {
  width: 50px;
  height: 40px;
  margin-top: 10px;
}
