.hcomp-ideation-pane {
  position: relative;
  z-index: 10;
}

.hcomp-ideation-pane .task-list-header .header h1 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hcomp-ideation-pane .main-prompt {
  background: #449d44;
  background: #82837E;
  background: rgba(176, 176, 176, 0.9); /*#B0B0B0 Light Grey*/
  border-right: 3px solid #464646;
  overflow: auto;
}

.hcomp-ideation-pane .ideator-directions {
  border-bottom: 1px solid #464646;
  padding-bottom: 10px;
}
.hcomp-ideation-pane .ideator-directions h3 {
  font-size: 1.2em;
  color: black;
}

.hcomp-ideation-pane .ideator-directions p {
  font-size: 0.8em;
  color: black;
}

.hcomp-ideation-pane .general-idea-entry {
  margin-top: 10px;
  width: 100%;
  position: absolute;
  top: 140px; /*Aligns with text entry for task lists*/
  left: 0;
  right: 0;
  bottom: 0;
}

.hcomp-ideation-pane .idea-input {
  width: 85%;
  margin: 5px 7% 0px 7%;
  padding: 5px;
}

.hcomp-ideation-pane .submit-idea {
  width: 85%;
  margin: 0px 7% 15px 7%;
  padding: 5px;
  display: block;
}

.hcomp-ideation-pane .idea-list-box {
  overflow: auto;
  z-index: 15;
}

.hcomp-ideation-pane .idea-box {
  width: 85%;
  margin: 10px 7%;
  padding: 8px;
  min-height: 1.1em;
  background: white;
  border: 1px solid #464646;
  border-radius: 5px;
  color: black;
  text-align: left;
}
.hcomp-ideation-pane .idea-box p {
  margin: 0;
  color: #000;
}

.hcomp-ideation-pane .idea-box .vote-box {
  position: absolute;
  right: 35px;
  height: 1.5em;
}

.hcomp-ideation-pane .idea-box .vote-box .vote {
  margin-right: 5px;
}

.hcomp-ideation-pane .idea-box .vote-box .glyphicon:hover {
  color: blue;
}

.hcomp-ideation-pane .task-list-header {
  padding: 0 15px;
}

.hcomp-ideation-pane .task-lists {
  background: #FFF;
  position: absolute;
  top:0;
  bottom: 0;
  left: 25%;
  padding: 30px;
}

.hcomp-ideation-pane .task-list-pane {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: scroll;
}

.hcomp-ideation-pane .ideate-task {
  position: relative;
  display: inline-block;
  width: 280px;
  background: rgba(176, 176, 176, 0.9); /*#B0B0B0 Light Grey*/
  color: #000;
  border: 2px solid #464646;
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 15px;
  vertical-align: top;
  white-space: normal;
  text-align: center;
  position: absolute;
  top: 80px;
}

.hcomp-ideation-pane .task-header {
  padding: 0;
  margin: 15px 15px 15px 15px;
  white-space: normal;
  color: black;
}


/* no new task modal */
.hcomp-ideation-pane #new-task-modal .modal-footer {
    height: 80px;
    margin-top:0px;
    padding: 10px;
}

#hcomp-new-task-modal {
    /*float:right;*/
  text-align: center;
}
#hcomp-new-task-modal .popup-continue {
  margin-bottom: 10px;
}

.hcomp-ideation-pane #new-task-modal #task-options {
  text-align: left;
  float:left;
}

