.hcomp-ideation-pane {
  position: relative;
  margin-top: -29px;
  z-index: 10;
}

.hcomp-ideation-pane .main-prompt {
  background: #449d44;
  background: #CFFFBD;
  border-right: 3px solid #464646;
  overflow: scroll;

}

.hcomp-ideation-pane .idea-input-box {
}

.hcomp-ideation-pane .idea-input {
  width: 85%;
  margin: 5px 7% 0px 7%;
  padding: 5px;
}

.hcomp-ideation-pane .submit-idea {
  width: 85%;
  margin: 0px 7% 15px 7%;
  padding: 5px;
  display: block;
}

.hcomp-ideation-pane .idea-list-box {
  overflow: scroll;
}

.hcomp-ideation-pane .idea-box {
  width: 90%;
  margin: 10px 5%;
  padding: 5px;
  min-height: 1.1em;
  background: #FFF3CC; /*Light Yellow*/
  border: 2px solid #464646;
  border-radius: 10px;
}
.hcomp-ideation-pane .idea-box p {
  margin: 0;
}

.hcomp-ideation-pane .task-list-header {
  padding: 0 20px;
}

.hcomp-ideation-pane .task-lists {
  background: #FFF;
  position: absolute;
  top:0;
  bottom: 0;
  left: 25%;
  padding: 15px;
}

.hcomp-ideation-pane .task-list-pane {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.hcomp-ideation-pane .ideate-task {
  position: relative;
  display: inline-block;
  width: 200px;
  max-height: 90%;
  background: #FFF3CC; /*Light Yellow*/
  border: 2px solid #464646;
  border-radius: 15px;
  margin: 15px;
  overflow: hidden;
  vertical-align: top;
}

.hcomp-ideation-pane .task-header {
  padding: 0;
  margin: 10px;
}
