.hcomp-ideation-pane {
  position: relative;
  margin-top: -29px;
  z-index: 10;
}

.hcomp-ideation-pane .header h1 {
  color: #FFF;
  text-align: center;
}

.hcomp-ideation-pane .main-prompt {
  background: #449d44;
  background: #82837E;
  border-right: 3px solid #464646;
  overflow: auto;
}

.hcomp-ideation-pane .idea-input-box {
}

.hcomp-ideation-pane .idea-input {
  width: 85%;
  margin: 5px 7% 0px 7%;
  padding: 5px;
}

.hcomp-ideation-pane .submit-idea {
  width: 85%;
  margin: 0px 7% 15px 7%;
  padding: 5px;
  display: block;
}

.hcomp-ideation-pane .idea-list-box {
  overflow: auto;
  z-index: 15;
}

.hcomp-ideation-pane .idea-box {
  width: 90%;
  margin: 10px 5%;
  padding: 5px;
  min-height: 1.1em;
  background: #FFF3CC; /*Light Yellow*/
  border: 2px solid #464646;
  border-radius: 10px;
  position: relative;
}
.hcomp-ideation-pane .idea-box p {
  margin: 0;
  color: #000;
}

.hcomp-ideation-pane .idea-box .vote-box {
  position: absolute;
  right: 15px;
  height: 1.5em;
}

.hcomp-ideation-pane .idea-box .vote-box .vote {
  margin-right: 5px;
}

.hcomp-ideation-pane .task-list-header {
  padding: 0 20px;
}

.hcomp-ideation-pane .task-lists {
  background: #FFF;
  position: absolute;
  top:0;
  bottom: 0;
  left: 25%;
  padding: 15px;
}

.hcomp-ideation-pane .task-list-pane {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: scroll;
}

.hcomp-ideation-pane .ideate-task {
  position: relative;
  display: inline-block;
  width: 200px;
  background: #FFF3CC; /*Light Yellow*/
  background: #82837E;
  color: #000;
  border: 2px solid #464646;
  border-radius: 15px;
  margin: 15px;
  vertical-align: top;
  white-space: normal
}

.hcomp-ideation-pane .task-header {
  padding: 0;
  margin: 15px 15px 5px 15px;
  white-space: normal;
}

/* no new task modal */
.hcomp-ideation-pane #new-task-modal .modal-footer {
    height: 80px;
    margin-top:0px;
    padding: 10px;
}

#hcomp-new-task-modal {
    /*float:right;*/
  text-align: center;
}
#hcomp-new-task-modal .btn {
  margin: 20px;
}
.hcomp-ideation-pane #new-task-modal #task-options {
    text-align: left;
    float:left;
}

