/* CSS declarations go here */


#idealist, #clusterlist{
	background-color: #f5f5f5;
	height: 500px;
	overflow: auto;
	list-style: none;
	list-style-type: none;
	padding-left: 0px;
}

#right{
	border-radius: 5px;
}

.forest .cluster ul{
	list-style: none;
	list-style-type: none;
}


li.idea-item{
	border: solid 1px black;
	margin: 5px;
	padding: 5px;
	background-color: #fff;
	cursor: pointer;
}

li.cluster-item{
	background-color: #fcf8e3;
	border: solid 1px black;
	margin: 5px;
	padding: 5px;
	background-color: #fff;
	cursor: pointer;
}

.newstack{
	border: dashed 1px;
}

.forest li.ui-sortable-helper{
	cursor: move;
}

.forest li.sort-disabled{
	border: none;
	background-color: #f5f5f5;
	height:0px;
	padding:1px;
}

#clusterarea{
	display: inline;
}

#clusterarea > ul, .child{
	background-color: #f5f5f5;
		list-style: none;
	list-style-type: none;
}

.namecluster{
	width: 100%;
}

.label{
	position: relative;
	/*padding-left: 200px;*/
}

.ultext{
	width:100%;
}

.unnamed{
	color: #d9534f;
}
#finish{
	margin-top: 10px;
	float: right;
}

#clusterprompt{
	margin-top: 20px;
}
