/*.dashboard > .row {
    display: table;
}

.dashboard > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}*/

html,body {
    height:100%;
}

.vizes, #people-view, .ideas, .leverbox{
	border: solid 1px #ddd;
	border-radius: 5px;
	margin-bottom: 5px;
}

#people-view{
	height: 747px;
}

#viz-menu{
	padding: 5px;
}

.viz{
	margin: 10px;
}


.db-title{
	margin-top: 5px;
	margin-bottom: 10px;
}

.dashboard-panel-7 {
   width: 57.9%;
}

.dashboard h3{
	margin-top: 10px;
	margin-bottom: 5px;
}

.quantity{
	font-size: 15px;
}

.idealist{
	list-style: none;
	overflow: auto;
	margin-left: 0px;
	height: 345px;
}

#filters{
	padding-left: 0px !important;
}
.part-label, .filter-label{
	padding-left: 0em;
}

.part-label > i, .filter-label > i{
	padding-right: 5px;
}

.dashboard .idea, .modal .idea{
	border: solid 1px #ddd;
	border-radius: 5px;
	padding: 5px;
	margin: 2px;
}

.changeprompt{
	height: 40%;
}

.dashboard button{
	margin-top: 0px;
}


#new-prompt{

}

hr{
	margin: 5px;
}

#people{
	height: 620px;
	overflow: auto;
}

.profile{
	display: inline-flex;
	width: 100%;
	height: 70px;
}

.profile form{
	width:75px;
}

.series{
	width:540px;
	height:100%;
}


#examples {
	border: solid 1px #ddd;	
	border-radius: 5px;
	height: 130px;
	overflow: auto;
}

.checkbox{
	height: 70px;

}

.dashboard input[type=checkbox]{
	margin-top: 29px;
}

.fa-minus-circle{
	cursor: pointer;
}

.selected{
	border: solid 1px #269abc!important;
	-moz-box-shadow:    inset 0 0 2px #31b0d5;
	-webkit-box-shadow: inset 0 0 2px #31b0d5;
	box-shadow:         inset 0 0 2px #31b0d5;
}

.modal .idea{
	cursor: pointer;
}

.modal h3{
	margin-top: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    shape-rendering: crispEdges;
}

.bar{
	width: 4px;
}
