#idealist, #clusterlist{
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f5f5f5;
	margin-left: 0px;
}

#confirmModal, #nameModal {
  top: 15%;
  left: 50%;
  height: 1px;
  width: 600px;
}

#node-drag-target, .stack, .donestack{
	margin-left: 0px;
}

.donestack > .idea-item, .cluster-item{
	display: none;
}

.idea-item, .donestack, .stack{
	border: solid 1px #ddd;
	border-radius: 5px;
	list-style: none;
	list-style-type: none;
}
.newstack{
	border: dashed 1px #ddd;
	border-radius: 5px;
	padding: 5px;
}
.clusternodename{
	width: 242px;
	margin: 5px;
}

label, .fa{
	padding-left: 5px;
	padding-top: 5px;
}

.donestack{
	background-color: #f5f5f5;
}

#tree{
	height: 675px;
	overflow: auto;
}

#nodestatus, #generalize, #buildcluster{
	display:none;
}

#nomatch{
	margin-top: 50px;
}

#generalize > button{
	margin-top: 10px;
}