.login-box {
  height:100px;
  width: 90%;
  margin: auto;
  border:1px solid #ccc;
  border-radius: 10px;
  font-size: 28px;
  /*margin: 15px;*/
  padding: 15px;
  font-family: 'HelveticaNeue-UltraLight';
}

.login-box .text-input{
  width: 100%;
  height: 100%;
    display: block;
    border: none;
    color: #777;
    background: transparent;
    border-bottom: 2px dotted black;
    padding: 15px 2px 0 15px;
    margin: 0;
    font-size: 55px;
    font-family:  'HelveticaNeue-UltraLight';
}

.login-box .text-input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #777;
  top: 0;
  padding-top: 15px;
  margin: 0;
}
.login-box .text-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #777;
}
.login-box .text-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #777;
}
.login-box .text-input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #777;
}
