.prompt-box h1 {
  text-align: center;
  color: #fff;
  background-color: #3276b1;
  background: #eee;
  border-color: #285e8e;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: -5px;
  font-size: 1.5em;
  color: #000;
    color: #666666;
}
.prompt-box {
  background: #eee;
  padding: 10px;
}

.prompt-box p{
  /*font-weight: bold;*/
  font-size: 20px;
}

.header .sample-ideas {
  background: #eee;
  padding: 10px;

}

.timer {
  background: #eee;
  padding: 5px;
  text-align: center;
  margin-top: -25px;
}

.timer span {
  font-size: 2em;
  color: #000;
  background: #eee;
}

#time {
  margin-top: -10px;
}

.sidebar {
  padding: 0 35px 0 35px;
  margin-right: 15px;
  border-right: 3px;
  border: #000;
  background: #eee;
  color: #666666;
  height: 100%;
}

.priming {
  background: #eee;
  padding: 15px;
  margin-top: 20px;
}

.priming .prime-idea {
  display: inline-flex;
  width: 30%;
  padding: 5px 10px; 
  margin: 5px;
}

/*unused class*/
/*.idea-box {
    height:400px;
    border:1px solid #ccc;
    border-radius: 10px;
    font-size: 28px;
    padding: 5px;
    font-family: 'HelveticaNeue-UltraLight';
    overflow: auto;
}*/



.ideabox {
   font-size: 20px;
   padding: 10px;
}

.login .exitStudy {
  padding: 5px;
  margin: 0 0 0 10px;
  font-stretch: expanded;
}

.list-item {
  display: inline-flex;
  color: #000;
  border: 3px;
  border-color: #000;
  background: #3276b1;
  background: #fff;
  border-radius: 10px;
  min-width: 250px;
  width: 30%;
  padding: 5px 10px; 
  margin: 10px;
  font-size: 14px;
}

.list-item .gamechangestar{
  float: right;
  padding-top: 3px;
  color: #f0ad4e;
  text-shadow: 1px 1px #ddd; /*#eea236;*/
}

#ideation-pane .footer{
  margin-left: 0px;
}

.idea-input {
  width: 100%;
  margin-top: 50px;
  height: 75px;
  margin: 25px 0 20px 0; /*20px;*/
}

.footer {
  background: #ddd;
  margin-left: 10px;
  padding: 0 30px 0 30px;
}

#submitIdea {
  margin: 25px 0 20px 20px;
  font-size: 22px;
}

#notify-bulb{
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  padding-top: 20px;
  /*padding-left: 15px;*/
  padding-left: 0px;
  color: #A1A1A1;
  text-shadow: 1px 1px #ededed;
  cursor: default;
}

/*#notify-bulb:hover{
  color: #6e6e6e;
}*/

.badge{
  font-size: 14px;
  background: #f0ad4e;
  border: 1px solid #eea236;
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 50%;
  position:absolute;
  top: 18px;
  left: 35px;
}

/*#notifications-handle{
  float: right;
  position: fixed;
  top: 45%;
  left: 98%;
  width: 2%;
  text-shadow: 1px 1px #ededed;
  background-color: white;
  border: 1px solid #ddd;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: -1px 0px 2px 1px rgba(0,0,0,0.05);
  -moz-box-shadow:    -1px 0px 2px 1px rgba(0,0,0,0.05);
  box-shadow:         -1px 0px 2px 1px rgba(0,0,0,0.05);
  transition: left 300ms ease; /*same as speed option in bigslide.js
  -webkit-transition: left 300ms ease; 
  -moz-transition: left 300ms ease;
  -o-transition: left 300ms ease;
}
#notifications-handle.moved{
  left: 63%;
  z-index: 2;
}

#notifications-handle a{
  color: #f0ad4e;
}

#notifications-handle i{
  padding-bottom: 3px;
  padding-right: 4px;
}*/

#notifications{
  -webkit-box-shadow: 2px 0px 5px 1px rgba(50, 50, 50, 0.05);
  -moz-box-shadow:    2px 0px 5px 1px rgba(50, 50, 50, 0.05);
  box-shadow:         2px 0px 5px 1px rgba(50, 50, 50, 0.05);
  padding-top: 51px;
  overflow: auto;
  z-index: 1;
  padding-bottom: 125px;
}

#notifications .notification-item{
  border-radius: 0px;
  padding-bottom: 0px !important;
  margin: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  box-shadow: none !important;
}

.notification-item .panel-heading{
  color: #666666;
  background-image: none !important;
  background-color: white; 
  transition: background-color 0.75s, color 0.65s;
  -webkit-transition: background-color 0.75s, color 0.65s;
  -moz-transition: background-color 0.75s, color 0.65s;
  -o-transition: background-color 0.75s, color 0.65s;
}

.notification-item.unhandled .panel-heading{
  background-color: #f0ad4e;
  color: white;
}

#notifications .time-label{
  font-size: 9px;
  float: right;
}

#notifications .panel-body{
  padding-top: 5px;
  background-color: #fcfcfc;
}

#notifications .notify-label{
  padding-top: 0px;
}

.notification-item .panel-body{
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.05);
}

#notifications .idea{
  border-bottom: 1px dotted #ddd;
  padding: 10px;
}

#notifications .idea:nth-child(2){
  border-top: 1px dotted #ddd;
}

#notifications .idea-bullet{
  text-shadow: 1px 1px #fff;
}

#notifications .notify-prompt{
  border-bottom: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  padding: 10px;
}

#notifications .themehint{
  cursor: pointer;
}

#notifications .themeexamples{
  display: none;
}

#notifications .themeexamples .idea:nth-child(1){
  border-top: 1px dotted #ddd;
  border-bottom: none;
}

.affix {
  width: inherit;
  position: absolute;
  top: 50px;
}

.affix-bottom {
  width: inherit;
  position: absolute;
  top: 50px;
}

.affix-top {
  width: inherit;
  position: absolute;
  top: 50px;
}
