/*#idealistwrapper{
	height: 540px;
}*/

.mturk-cluster-interface h3{
	margin-top: 0px;
}

.mturk-cluster-interface .cluster-trash-can {
    background-color: #FFF;
    width:100px;
    height:100px;
    position:absolute;
    top:0;
    right:50px;
}

/*.cluster-interface #filterbox-header {
	visibility: hidden;
}*/

.mturk-cluster-interface .clusterlabel {
  /*margin-left: 7px;*/
  padding-left:7px;
  padding-right:7px;
  font-size:18px;
}

.mturk-cluster-interface #idealist, #clusterlist{
	background-color: #f5f5f5;
	list-style: none;
	list-style-type: none;
	padding-left: 0px;
  padding: 5px;
  overflow: scroll;
}

.mturk-cluster-interface #idealistHeader{
	display: inline-block;
	/*width: 50%;*/
}
.mturk-cluster-interface .idea-item .vote-box {
  position: absolute;
  right: 15px;
  height: 1.5em;
}

.mturk-cluster-interface .idea-item .vote-box .vote {
  margin-right: 5px;
}


.mturk-cluster-interface button {
    margin-top:0px;
}

.mturk-cluster-interface #idealistwrapper{
    /*overflow:auto;*/
    /*width: 50%;*/
}

.mturk-cluster-interface #left-clustering{
  padding-left: 50px;
  overflow: scroll;
}

.mturk-cluster-interface #middle-clustering{
  overflow: scroll;
}

.mturk-cluster-interface #right-clustering{
  overflow: scroll;
}

.mturk-cluster-interface #clusterarea {
  height: 100%;
  overflow:normal;
}

.mturk-cluster-interface #sortMenuButton{
	margin: 20px 0px 5px 15px;
}

.mturk-cluster-interface .cluster{
  position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #f5f5f5;
  display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	cursor: move;
  width: 175px;
}

.mturk-cluster-interface .cluster .form-group{
	margin-bottom: 0px;
}

i {
	cursor: pointer;
}

.mturk-cluster-interface .clusterul{
	height: 100%;
	list-style: none;
	list-style-type: none;
	padding-left: 0px;
}
.mturk-cluster-interface li.idea-item{
	border: solid 2px #ddd;
	margin: 5px;
	padding: 5px;
	background-color: #fff;
	cursor: pointer;
  min-width: 100px;
  position: relative;
	list-style-type: none;
}

li.idea-item .gamechangestar{
	float: left;
  padding: 2px 5px 2px 0;
	color: #f0ad4e;
	text-shadow: 1px 1px #ddd; /*#eea236;*/
}

.mturk-cluster-interface li.cluster-item{
	background-color: #fcf8e3;
	border: solid 1px black;
	margin: 5px;
	padding: 5px;
	background-color: #fff;
	cursor: pointer;
}

.mturk-cluster-interface .newcluster{
  /* background-color: #f5f5f5; */
	border: dashed 1px;
	border-radius: 5px;
	padding: 10px;
  margin: 10px 10px 10px 10px;
}

.mturk-cluster-interface .namecluster{
	width: 100%;
}

.mturk-cluster-interface #finish{
	margin-top: 10px;
	float: right;
}

.mturk-cluster-header {
  margin: 10px 0 0 25px;
}
#mturk-clusterprompt{
	margin-top: 0px;
}
