.ideate-p-container {
    margin:auto;
}

.ideate-p-container 

.ideate-p-container .prompt {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

.ideate-p-container .wedding-idea {
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.ideate-p-container .submit-idea {
    font-size: 16px;
    font-family: sans-serif;
    float:right;
    border-radius: 5px;
}

.ideate-p-container .idea-list {
    max-height: 385px;
    overflow: scroll;
    background-color: #E2E2E2;
    margin-top: 10px;
}

.ideate-p-container .insp-container {
    padding: 5px;
}

.ideate-p-container .roll-insps {
    padding: 5px;
    background-color: #E2E2E2;
}

.ideate-p-container .stuck-insps {
    padding: 5px;
    background-color: #E2E2E2;
    margin-top: 10px;
}

.ideate-p-container .wedding-insp-item {
    font-size: 14px;
    font-family: sans-serif;
    /*float:right;*/
    border-radius: 5px;
}

.ideate-p-container .stuck-button-container {
    padding: 5px;
}

.ideate-p-container .stuck-button {
    font-size: 16px;
    font-family: sans-serif;
    /*float:right;*/
    border-radius: 5px;
}