.hcomp-ideation-pane-control{
    z-index: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: "#FFF",
    padding: "10px";
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

.hcomp-ideation-pane-control .task-list-header .header h1 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hcomp-ideation-pane-control .ideation-prompt-control-container {
    text-align: center;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
}

.hcomp-ideation-pane-control .ideation-prompt-control {
    position: absolute;
    top: 0;
    left: 30%;
    right: 30%;
    text-align: center;
    z-index: 20;
    /*padding-left: 27%;
    padding-right: 27%;*/
    font-size:1.7em;
}

.hcomp-ideation-pane-control .ideation-prompt-control-exp {
    /*position: absolute;
    top: 0;
    left: 30%;
    right: 30%;*/
    text-align: center;
    z-index: 20;
    padding-left: 27%;
    padding-right: 27%;
    font-size:1.7em;
}

.hcomp-ideation-pane-control .main-prompt {
    /*background: #449d44;*/
    /*background: #82837E;*/
    background: #f5f5f5;
    /*background: rgba(176, 176, 176, 0.9); /*#B0B0B0 Light Grey*/
    border: 1px solid #464646;
    overflow: auto;
    width: 50%;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 5%;
    position: absolute;
    top: 7em;
    left:0;
    right:0;
    z-index: 20;
}

.hcomp-ideation-pane-control .main-prompt-exp {
    /*background: #449d44;*/
    /*background: #82837E;*/
    background: #f5f5f5;
    /*background: rgba(176, 176, 176, 0.9); /*#B0B0B0 Light Grey*/
    border: 1px solid #464646;
    overflow: auto;
    width: 50%;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 5%;
    /*position: absolute;
    top: 7em;
    left:0;
    right:0;*/
    z-index: 20;
}

.hcomp-ideation-pane-control .ideator-directions-control {
  border-bottom: 1px solid #464646;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 50px;
    z-index: 40;
}
.hcomp-ideation-pane-control .directions-header-control {
  font-size:20px;
}
.hcomp-ideation-pane-control .directions-container-control {
  font-size:20px;
    text-align: center;
    padding: 10px;
}
/*.hcomp-ideation-pane-control .ideator-directions h3 {
  font-size: 1.2em;
  color: black;
}*/

.hcomp-ideation-pane-control .ideator-directions p {
  font-size: 0.8em;
  color: black;
}

.hcomp-ideation-pane-control .general-idea-entry {
  margin-top: 10px;
  width: 100%;
  /*position: absolute;*/
  /*top: 140px; Aligns with text entry for task lists*/
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
}

.hcomp-ideation-pane-control .idea-input {
  width: 85%;
  margin: 5px 7% 0px 7%;
  padding: 5px;
  resize: none;
}

.hcomp-ideation-pane-control .submit-idea {
  width: 85%;
  margin: 0px 7% 15px 7%;
  padding: 5px;
  display: block;
  font-weight: bold;
  font-size:18px;
}

.hcomp-ideation-pane-control .ideation-prompt {
  margin-top:0px;
}

.hcomp-ideation-pane-control .get-task {
  font-weight: bold;
  font-size:20px; 
  border-radius: 15px;
  width:250px;
  margin-bottom: 15px;
}

.hcomp-ideation-pane-control .get-task-icon {
  /*height:65px;*/
  height:26px;
  /*margin-right: 5px;*/
  color:white;
}

.hcomp-ideation-pane-control .idea-list-box {
  position: relative;
  z-index: 30;
}

.hcomp-ideation-pane-control .general-idea-entry .idea-count {
  margin-right: 50px;
}

.hcomp-ideation-pane-control .idea-count {
  text-align: right;
  margin-right: 25px;
  color: #000;
}
.hcomp-ideation-pane-control .idea-count h3, h4{
  display: inline-block;
}

.hcomp-ideation-pane-control .idea-count-label {
  right: 100px;
  font-color: #000;
}

.hcomp-ideation-pane-control .idea-box {
  width: 85%;
  margin: 10px 7%;
  padding: 8px;
  min-height: 1.1em;
  background: white;
  border: 1px solid #464646;
  border-radius: 5px;
  color: black;
  text-align: left;
  position: relative;
}
.hcomp-ideation-pane-control .idea-box p {
  margin: 0;
  color: #000;
}

.hcomp-ideation-pane-control .idea-box .vote-box {
  position: absolute;
  right: 15px;
  height: 1.5em;
}

.hcomp-ideation-pane-control .idea-box .vote-box .vote {
  margin-right: 5px;
}

.hcomp-ideation-pane-control .idea-box .vote-box .glyphicon:hover {
  color: blue;
}

.hcomp-ideation-pane-control .task-list-header {
  padding: 0 15px;
}

.hcomp-ideation-pane-control .task-lists {
  background: #FFF;
  position: absolute;
  top:0;
  bottom: 0;
  left: 25%;
  padding: 30px;
}

.hcomp-ideation-pane-control .task-list-pane {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: scroll;
}

.hcomp-ideation-pane-control .ideate-task {
  position: relative;
  display: inline-block;
  width: 280px;
  /*background: rgba(176, 176, 176, 0.9); /*#B0B0B0 Light Grey*/
  background: white;
  /*color: #000;*/
  background: #f5f5f5;
  border: solid 1px #ddd;
  /*border: 1px solid #464646;*/
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 15px;
  vertical-align: top;
  white-space: normal;
  text-align: center;
}

.hcomp-ideation-pane-control .task-header {
  padding: 0;
  margin: 15px 15px 15px 15px;
  white-space: normal;
  color: black;
  font-weight: bold;
  font-size:20px;
}


/* no new task modal */
.hcomp-ideation-pane-control #new-task-modal .modal-footer {
    height: 80px;
    margin-top:0px;
    padding: 10px;
}

#hcomp-new-task-modal {
    /*float:right;*/
  text-align: center;
}
#hcomp-new-task-modal .popup-continue {
  margin-bottom: 10px;
  font-weight: bold;
  font-size:18px;
}

.hcomp-ideation-pane-control #new-task-modal #task-options {
  text-align: left;
  float:left;
}

