@font-face {
    font-family: Lato;
    src: url("../lib/fonts/Lato-Reg.ttf");
}

@font-face {
    font-family: Lato-Black;
    src: url("../lib/fonts/Lato-Bla.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: url("../lib/fonts/Lato-Lig.ttf");
}

.ideate-p-container {
    font-family: Lato, sans-serif;
}

.ideate-p-container #exitStudy {
    font-family: Lato, sans-serif;
}

.ideagens-button {
    font-family: Lato, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    /*box-shadow: 4px 4px 2px #F8F8F8;*/
}

.ideagens-label {
    font-family: Lato-Black, sans-serif;
    font-style: bold;
    font-size: 16px;
    border-bottom: 1px solid #E2E2E2;
}

.ideate-p-container input, textarea {
    /*font-family: Lato;*/
}

.ideagens-section-header {
    font-family: Lato-Black, sans-serif;
    font-style: bold;
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E2E2E2;
}

.ideate-p-container {
    margin:auto;
}

.ideate-p-container .ideate {
    /*border: 1px solid gray;*/
    /*border-radius: 5px;*/
    padding: 10px;
}

.ideate-p-container .prompt-text {
    /*border: 1px solid black;*/
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.ideate-p-container .wedding-idea {
    background-color: white;
    padding: 15px 15px 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #F8F8F8;
}

.ideate-p-container .idea-entry-container {
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.ideate-p-container .idea-entry-controls {
    margin-top: 5px;
    margin-bottom: 5px;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
}

.ideate-p-container .submit-idea {
    /*font-size: 16px;*/
    /*font-family: sans-serif;*/
    float:right;
    /*border-radius: 5px;*/
}

.ideate-p-container .misSpellings {
    font-size: 10px;
    color: #F86245;
    opacity: 70%;
    font-style: italic;
    margin-bottom: 20px;
}

.ideate-p-container .misSpelledThemes {
    padding-left: 60px;
}

.ideate-p-container .misSpelledProps {
    padding-left: 45px;
}

.ideate-p-container .idea-list {
    max-height: 385px;
    overflow: scroll;
    /*background-color: #E2E2E2;*/
    /*margin-top: 10px;*/
}

.ideate-p-container .idea-list-header {
    border-top: 1px solid #E2E2E2;
    border-bottom: none;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

.ideate-p-container .insp-master-container {
    border: 1px solid #ccc;;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    margin-left: 5px;
    margin-top: 10px;
    /*background-color: #F2F2F2;*/
    /*box-shadow: 4px 4px 2px #F8F8F8;*/
    /*width: 322px;*/
}

.ideate-p-container .insp-container-header {
    padding: 5px 5px 15px 5px;
    /*margin-top: 5px;*/
}

.ideate-p-container .insp-container {
    padding: 5px;
}

.ideate-p-container .roll-insps {
    padding: 5px;
    background-color: white;
    /*margin-top: 10px;*/
    border-radius: 5px;
}

.ideate-p-container .stuck-insps {
    padding: 5px;
    background-color: white;
    /*margin-top: 10px;*/
    border-radius: 5px;
}

.ideate-p-container .stuck-insps-inactive {
    opacity: 0.5;
}

.ideate-p-container .wedding-insp-item {
    font-size: 20px;
    /*color: ;*/
    /*font-family: sans-serif;*/
    /*float:right;*/
    border-radius: 5px;
    /*display: block;*/
    font-style: italic;
    list-style: none;
    color: #00710F;
}

.ideate-p-container .insp-star {
    color: #F8BA26;
    cursor: pointer;
}

.ideate-p-container .insp-star-empty {
    color: #C3C3C3;
    opacity: 0.6;
    cursor: pointer;
}

.ideate-p-container .stuck-button-container {
    padding: 5px 5px 0px 5px;
    margin-top: 5px;
    /*margin-bottom: 5px;*/
}

.ideate-p-container #directions-container {
    /*width: 245px;*/
}

.ideate-p-container #directions-content h3 {
    /*font-size: 12px;*/
    /*max-height: 320px;*/
    font-weight: bold;
    /*font-family: sans-serif;*/
    /*float:right;*/
    /*border-radius: 5px;*/
}

#rollThemes-question, #rollProps-question, #stuckThemes-question, #stuckProps-question {
    color: #F86245;
    opacity: 0.4;
    /*font-size: 14px;*/
    /*font-family: sans-serif;*/
    /*float:right;*/
    /*border-radius: 5px;*/
}

@-webkit-keyframes rollGlow {
  from { background-color: #D2FFB4;
         -moz-box-shadow:     0 0 150px #D2FFB4;
         -webkit-box-shadow:  0 0 150px #D2FFB4;
          box-shadow:         0 0 150px #D2FFB4;  
    }
    to {  background-color: #E2E2E2;}
}