#new-bs {
  margin-bottom: 50px;
}
.login-box {
  margin: 20px 0 30px;
}

.hcomp-prompts-page {
}

.hcomp-prompts-page .new-bs{
  margin-top: 30px;
}

.hcomp-prompt-list .prompt-panel {
  width: 85%;
  margin-left: 7%;
  border-radius: 15px;
  margin: 15px 7%;
  position: relative;
}
.hcomp-prompt-list .prompt-panel .prompt-data {
  width: 64%;
  padding: 10px;
  border: 3px solid #464646;
  border-radius: 12px;
}

.hcomp-prompt-list .prompt-panel .dash-button {
  width: 16%;
  height: 100%;
  background: #3071a9;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  margin: 0 1% 0 1%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 64%;
  right: 0;
}

.hcomp-prompt-list .prompt-panel .review-button {
  width: 16%;
  height: 100%;
  background: #3071a9;
  border-radius: 12px;
  color: #fff;
  text-align: center; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 82%;
  right: 0;
}
