
.controlPanel {
  border:3px solid #444;
}


#leftSide {
    border:1px solid #444;
    /*margin: 50px;*/
}

.panZoomFrame{
    border:1px solid #444;
    position: relative;
    min-height: 5000px;
    min-width: 5000px;

}

#ideaSpace {
  top: 50%;
  border:1px solid #444;
  height:3000px;
}

.zoomIn {
    width: 240px;
}

.zoomOut {
    width: 240px;
}

.zoomControl {
    position: fixed;
    display: inline;
    padding-left: 20px;
    top: 35%;
    
}
#small {
    position: absolute;
}

.map {
    position: fixed;
    border: 1px solid #000000;
    background-color: white;
    margin-top: 10px; 
    left: 20px;
    width: 200px;
    height: 200px;
}

.zoomBox {
    position: relative;
    border: 1px solid #000000;
    width: 15%; 
    height: 80px;
}

.col-md-8{
    min-height: 3000px;
    min-height: 3000px;
}

.miniIdeas {
    list-style-type: none;
    position: bottom left;
    margin: 2px;
    width: 10px;
    height: 10px;
    /*min-height: 5px;*/
    background-color: #000000;
}

.numIdeas {
    margin-top: 20px;
    background-color: #def; 
    width: 250px;
    height: 80px;
    font-size: 28px;
    border-radius: 8px;
}

.dropdown-toggle {
    
}

.zoom-control-buttons {
  font-size: 20px;
}

#zBar{
   display: inline-block;
}
#zIn {
   display: inline-block;
}
 #zOut{
   display: inline-block;
}

.clusterButton {
    position: fixed;
    border:1px solid #444;
    left: .5%;
    height: 100px;
    width:  100px;
    font-size: 28px;
}
 
 .cluster {
    
    position: absolute;
    border: 4px solid #000000;
    width: 200px;
    height: 85px;
    height: 180px;
    background-color: #def;
 }

.ideaArea{
  top: 45%;
  position: fixed;
  min-height: 5000px;
  padding-left: 10px;
}

.clusterListElement {
    list-style-type: none;
    border:1px solid #444;  
    width: 200px;
    height: relative;
    margin-top: 5px;
}

.box {
  position: relative;
  top:  3000px;
  left: 3250px;
  border:1px solid #444;
  width: 50px;
  max-height: 50px;
}

.zoomSpaceElement {
  position: absolute;
  list-style-type: none;
  border: 2px solid #444;
  width: 200px;
  height: 85px;
  margin-top: 5px;
  background-color: #FFFC9B;
  overflow: hidden;
}

.ideaListElement {
    position: relative;
    list-style-type: none;
    border:2px solid #444;
    width: 225px;
    height: 75px;
    margin-top: 5px;
    overflow: hidden;
    background-color: #FFFC9B;
}
 
.ideasList {
    position: relative;
    border:5px solid #444;
    
    width: 400px;
    height: relative;
}

#trashSpace {
  display: inline-block;
  position: relative;
}

#trashSpace {
  margin-top: 10px;
}

#downArrow {
  margin-right: 90px;
}

.tagBox {
    background-color: white;
    color: black;
    font-style: bold;
    height: 100px;
    width:192px;
    /*border:2px solid #444;*/
}

.ScalingViewPane {
  position: relative;;
  z-index: 999;
  border:2px solid #444;
  width: 80px;
  height: 40px;
}

.IdeaCapsule {
    width: 300px;
    height: 800px; 
    background-color: #BF3FC7;
}






