/*CONTROL TUTORIAL STYLING*/
.control-tutorial-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.visible-tutorial {
    display: inline;
}
.control-tutorial-description {    
    width: 25%;
    position: absolute;
    top: 30%;
    right: 0;
    background: none;
}
.control-tutorial-description p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.8em;
    color: #F5A623;
    margin-bottom: 3em;
}
.control-tutorial-description .control-tutorial-gotit {
    background-color: #7ED321;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    margin-top: 2em;
}
.control-tutorial-description .control-tutorial-goback {
    background-color: #979797;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    position: absolute;
    bottom: 1em;
    left: 1em;
    margin-top: 2em;
}

#control-tutorial-ideaEntryTry-gotit {
    background-color: #7ED321;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border-radius: 5px;
    padding: 5px;
}
#control-tutorial-ideaEntryTry-gotit:enabled {
    background-color: #7ED321;
}
#control-tutorial-ideaEntryTry-gotit:disabled {
    background-color: #979797;
}
.control-tutorial-description .turnGreen {
    background-color: #7ED321;
}

.control-tutorial-highlight-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:15;
}
.control-tutorial-highlight {
/*    border: 10px solid red;*/
    width: 100%;
    height: 100%;
    
}
/*
.control-tutorial-welcome-text {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    width: 60%;
    margin: 0 auto;
    padding: 12em;
}
.control-tutorial-timer-text {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    width: 60%;
    margin: 0 auto;
    padding: 12em;
}
.control-tutorial-exit-text {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    width: 60%;
    margin: 0 auto;
    padding: 12em;
}

.control-tutorial-prompt-text {
    position: absolute;
}
.control-tutorial-ideaEntry-text {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    width: 60%;
    margin: 0 auto;
    padding: 6em;  
}
.control-tutorial-ideaEntryTry-text {
    width: 25%;
    position: absolute;
    top: 50%;
    right: 0;
    background: none;
}
.control-tutorial-directions-text {
    position: absolute;
    right:0;
    left:0;
    margin: 0 auto;
}
.control-tutorial-pleaseWait-text {
    width: 25%;
    position: absolute;
    top: 50%;
    right: 0;
    background: none;
}

*/


