.login {
  /* padding-top: 12px; */
  margin: 10px;
  text-align: right;
  display: inline-block;
}

.line {
    display: block;
    border: none;
    color: #333;
    background: transparent;
    border-bottom: 1px dotted black;
    padding: 5px 2px 0 2px;
    font-size: 55px;
    font-family:  'HelveticaNeue-UltraLight';
    width: 850px;
    margin-top: 50px;

}

.line:focus {
    outline: none;
    border-color: #51CBEE;

}

button {
    padding: 18px 28px;
    font-size: 32px; /*change this to your desired size */
    font-family:  'HelveticaNeue-UltraLight';
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    margin-top: 50px;
    border: none;
    background: none;
}

.btn-login {
    padding: 5px 10px;
    margin-top: 0;
    font-size: 12px; /*change this to your desired size*/
    font-family:  'HelveticaNeue-UltraLight';
    font-weight: 400;
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.nav-btn {
    padding: 5px 10px;
    margin-top: 0;
    font-size: 12px; /*change this to your desired size*/
    font-family:  'HelveticaNeue-UltraLight';
    font-weight: 400;
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.btn-xlarge2 {
    padding: 13px 108px;
    font-size: 32px; /*change this to your desired size*/
    font-family:  'HelveticaNeue-UltraLight';
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    margin-top: 50px;
}

.rectangle-timer {
   height: 80px;
   margin-bottom: 30px;
   background: #B20000;
   color: white;
   font-size: 42px;
   text-align: center;
   vertical-align: center;
   padding-top: .8%;
   font-family: 'HelveticaNeue-Light';
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

body {
    color: #555555;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.timer {
  display: inline-block;
  margin: 18px 10px;
}
